* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  font-size: 16px;
}

.wrap {
  min-width: 1080px;
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

/* 轮播图 */

#carousel-example-generic {
  height: auto;
  width: 100%;
  position: relative;
}

li {
  list-style: none;
}

.navig {
  width: 587px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}

.navig li {
  height: 100%;
  position: relative;
}

.navig li a:hover {
  color: #043B8A;
  position: relative;
}

.navig li a {
  color: white;
  height: 100%;
  display: block;
  text-decoration: none;
}
.home_page{
  color: #043B8A !important;
  border-bottom: 1px solid #043B8A
}
a{
  outline:none !important;
}
/* .navig li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 0;
  height: 100%;
  border-bottom: 2px solid #043B8A;
  transition: 0.2s all linear;
}

.navig li:hover::before {
  width: 100%;
  left: 0;
}

li:hover~li::before {
  left: 0;
} */

/* 赋能 */

.energize {
  width: 100%;
  height: 661px;
  position: relative;
}

.application {
  width: 90px;
  height: 200px;
  background-color: #043B8A;
  position: absolute;
  right: 0;
  top: 99px;
  z-index: 1;
  color: white;
  font-size: 24px;
  font-family: MicrosoftYaHei;
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 59px;
}

.energize-gather {
  width: 1080px;
  height: 100%;
  margin: 0 auto;
}

/* 聚焦 */

.focalize {
  height: 898px;
  width: 100%;
  margin: 0 auto;
  background-color: #b5cae8;
  padding-top: 102px;
}

.focalize-bottom {
  height: 678px;
  width: 1080px;
  margin: 0 auto;
}

.focalize h2 {
  margin-bottom: 19px !important;
}

.focalize-head {
  text-align: center;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
  color: #d0d0d0; 
  font-size: 14px;
  font-family: MicrosoftYaHei;
  }
/* 驱动 */

.drive {
  height: 961px;
  width: 100%;
  background-color: #ededed;
  padding: 100px 0;
}

.underline {
  margin-bottom: 0;
  margin-right: 15px;
  display: inline-block;
  height: 45px;
  border-bottom: 3px solid;
  font-family: MicrosoftYaHei;
}

.drive-brand {
  width: 1080px;
  height: 100%;
  margin: 0 auto;
}

.drive-brand-content {
  height: 100%;
  align-content: flex-start !important;
}

.drive-brand-left {
  height: 570px;
}

.brand-bottom {
  height: 60px;
}

/* 服务 */

.server {
  height: 806px;
  width: 1080px;
  margin: 0 auto;
  padding-top: 99px;
}

.server-items {
  height: 100%;
}

.server-items-col {
  height: 100%;
}

.server-list {
  height: 282px;
}

.server-list img {
  margin: 0 auto;
  display: block;
}

/* 联系我们 */

.contact {
  height: 330px;
  background-color: #444444;
  color: #FFFFFF;
}

.footer {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #333333;
  color: #FFFFFF;
  font-size: 12px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex1 {
  width: 100%;
}

.flex2 {
  width: 50%;
}

.flex3 {
  width: 25%;
}

.Dream_wrapper {
  min-width: 1080px;
  height: 668px;
  background: url("../png/bg1.jpg");
  background-size: 100% 668px;
}

.Dream_title {
  height: 190px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 32px;
}

.dream_content_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dream_content {
  width: 1080px;
  height: 380px;
  display: flex;
  flex-direction: row;
}

.dream_left {
  width: 540px;
  color: #333333;
}

.left_item1 {
  height: 80px;
  margin-bottom: 54px;
}

.left_item2 {
  height: 80px;
  margin-bottom: 54px;
}

.left_common {
  width: 540px;
  background: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  background: #939394;
}

.left_item3 {
  height: 110px;
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
}

.dream_right {
  width: 448px;
  height: 231px;
  margin-left: 73px;
}

.right_one {
  display: flex;
  margin: 10px 0;
}

.right_title {
  font-size: 20px;
  color: #9CC813;
}

.nihao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_commot {
  font-size: 20px;
  color: #ffffff;
  margin: 10px 0;
}

.right_value {
  font-size: 20px;
  color: #ffffff;
}

.agent_wrapper {
  min-width: 1080px;
  height: 490px;
  background: url("../png/bg2.jpg");
  background-size: 100% 490px;
}

.agent_title {
  width: 100%;
  height: 185px;
  display: flex;
  font-family: MicrosoftYaHei;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #ffffff;
}

.agnet_content_wrap {
  height: 308px;
  width: 1080px;
  margin: 0 auto;
  display: flex;
  font-family: MicrosoftYaHei;
}

.agent_left {
  font-size: 28px;
  color: #ffffff;
  width: 448px;
  height: 212px;
  margin-right: 94px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.agent_right {
  padding-top: 40px;
  color: #ffffff
}

.all_city {
  margin-bottom: 68px;
  font-size: 40px;
}

.applay {
  border: 1px #ffffff solid;
  width: 151px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.applay a {
  display: block;
  text-decoration: none;
  color: #9CC813;
  font-size: 24px;
}

.photo {
  width: 346px;
  height: 29px;
  flex-direction: row;
}

.photo_num {
  color: #9CC813;
  font-size: 32px;
}
.footer a{
  text-decoration: none;
  color: #FFFFFF
}
#applyForm_success{
  position: fixed;
  top: 240px;
  right: 0;
  bottom: 0;
  left: 810px;
  width: 400px;
  height: 400px;
  background-color:white;
  padding-top: 50px;
}
.applyForm_success_head{
  margin: 30px 0 18px 0;
  font-family: MicrosoftYaHei;
  font-size: 34px;
  color: #333333;
  text-align: center;
}
.applyForm_success_center{
  font-family: MicrosoftYaHei;
  font-size: 20px;
  color: #666666;
  margin-bottom: 30px;
  text-align: center;
}
.applyForm_success_footer{
  width: 100%;
 text-align: center;
}
#applyForm_success_btn{
  width: 110px;
  height: 44px;
  font-size: 20px;
  color: #ffffff;
  font-family: MicrosoftYaHei;
}